.git
node_modules
**/*.md
tests/
bin/
obj/
.github/
**/bin/
**/obj/
*.log
*.user
*.suo
.vs/
.vscode/
*.DotSettings.user
docker-compose.override.yml
.env
.env.*
!.env.example
**/Properties/
**/appsettings.Development.json
**/appsettings.Local.json
coverage/
